name: Deploy NGINX Website to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest  
    steps:
    
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

    
      - name: Install Ansible
        run: |
          python -m pip install --upgrade pip
          pip install ansible

      
      - name: Add SSH key
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

   
      - name: Run Ansible Playbook
        working-directory: ./terraform-gitaction
        run: |
          ansible-playbook ansible/playbook.yml -i ansible/inventory.ini --ssh-extra-args='-o StrictHostKeyChecking=no'
