name: Deploy NGINX Website

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Ansible Playbook
        working-directory: ./terraform-gitaction
        run: |
          ansible-playbook ansible/playbook.yml -i ansible/inventory.ini
